IMPORT PANDAS AND NUMPY LIBRARIES

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#how many data points are there
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                           0
Blast Furnace Slag               0
Fly Ash                          0
Water                            0
Superplasticizer                 0
Coarse Aggregate                 0
Fine Aggregate                   0
Age                              0
Concrete compressive strength    0
dtype: int64

In [6]:
#split data into predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Concrete compressive strength']]
target = concrete_data['Concrete compressive strength']

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Concrete compressive strength, dtype: float64

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

# Normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1]
n_cols

8

IMPORT KERAS

In [11]:
#lets import keras
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:


# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network
Let's call the function now to create our model.

In [16]:
model = regression_model()

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 2s 4ms/step - loss: 350323.3125
Epoch 2/50
23/23 [==============================] - 0s 4ms/step - loss: 234956.0781
Epoch 3/50
23/23 [==============================] - 0s 4ms/step - loss: 158391.0938
Epoch 4/50
23/23 [==============================] - 0s 4ms/step - loss: 109133.7031
Epoch 5/50
23/23 [==============================] - 0s 3ms/step - loss: 72355.3828
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 37514.7461
Epoch 7/50
23/23 [==============================] - 0s 4ms/step - loss: 14423.5488
Epoch 8/50
23/23 [==============================] - 0s 3ms/step - loss: 4740.4419
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 1985.9126
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 1488.3766
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 1369.9386
Epoch 12/50
23/23 [==============================] - 0s 4ms/step - loss: 1296.2660
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 1221.6406
Epoch 14/50
23/23 [==============================] - 0s 3ms/step - loss: 1153.2990
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 1085.7637
Epoch 16/50
23/23 [==============================] - 0s 3ms/step - loss: 1022.2141
Epoch 17/50
23/23 [==============================] - 0s 3ms/step - loss: 960.7729
Epoch 18/50
23/23 [==============================] - 0s 3ms/step - loss: 906.0598
Epoch 19/50
23/23 [==============================] - 0s 4ms/step - loss: 850.8644
Epoch 20/50
23/23 [==============================] - 0s 3ms/step - loss: 800.2712
Epoch 21/50
23/23 [==============================] - 0s 3ms/step - loss: 752.9631
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 708.4636
Epoch 23/50
23/23 [==============================] - 0s 4ms/step - loss: 667.7784
Epoch 24/50
23/23 [==============================] - 0s 4ms/step - loss: 628.0246
Epoch 25/50
23/23 [==============================] - 0s 3ms/step - loss: 591.8664
Epoch 26/50
23/23 [==============================] - 0s 4ms/step - loss: 558.0164
Epoch 27/50
23/23 [==============================] - 0s 3ms/step - loss: 526.9865
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 498.5204
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 471.0915
Epoch 30/50
23/23 [==============================] - 0s 4ms/step - loss: 444.8502
Epoch 31/50
23/23 [==============================] - 0s 4ms/step - loss: 422.4855
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 400.8872
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 380.4301
Epoch 34/50
23/23 [==============================] - 0s 4ms/step - loss: 362.2739
Epoch 35/50
23/23 [==============================] - 0s 4ms/step - loss: 345.6866
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 330.4243
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 316.0605
Epoch 38/50
23/23 [==============================] - 0s 3ms/step - loss: 302.7868
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 290.6915
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 280.2705
Epoch 41/50
23/23 [==============================] - 0s 3ms/step - loss: 269.8609
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 260.6501
Epoch 43/50
23/23 [==============================] - 0s 4ms/step - loss: 251.9997
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 243.7962
Epoch 45/50
23/23 [==============================] - 0s 3ms/step - loss: 236.8123
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 229.2666
Epoch 47/50
23/23 [==============================] - 0s 4ms/step - loss: 223.1170
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 216.9253
Epoch 49/50
23/23 [==============================] - 0s 4ms/step - loss: 211.3709
Epoch 50/50
23/23 [==============================] - 0s 3ms/step - loss: 206.1688

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 4ms/step - loss: 181.8181
10/10 [==============================] - 0s 3ms/step

181.8180694580078

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

181.81803895340224 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 114.76885986328125
10/10 [==============================] - 0s 4ms/step
MSE 2: 120.85908508300781
10/10 [==============================] - 0s 4ms/step
MSE 3: 98.17082214355469
10/10 [==============================] - 0s 3ms/step
MSE 4: 99.14783477783203
10/10 [==============================] - 0s 3ms/step
MSE 5: 108.04864501953125
10/10 [==============================] - 0s 3ms/step
MSE 6: 87.31494903564453
10/10 [==============================] - 0s 4ms/step
MSE 7: 94.41604614257812
10/10 [==============================] - 0s 3ms/step
MSE 8: 75.19998931884766
10/10 [==============================] - 0s 3ms/step
MSE 9: 77.0973892211914
10/10 [==============================] - 0s 3ms/step
MSE 10: 70.42799377441406
10/10 [==============================] - 0s 3ms/step
MSE 11: 60.735233306884766
10/10 [==============================] - 0s 3ms/step
MSE 12: 58.67384719848633
10/10 [==============================] - 0s 3ms/step
MSE 13: 69.1636962890625
10/10 [==============================] - 0s 3ms/step
MSE 14: 62.60763168334961
10/10 [==============================] - 0s 4ms/step
MSE 15: 55.59962844848633
10/10 [==============================] - 0s 3ms/step
MSE 16: 46.982723236083984
10/10 [==============================] - 0s 5ms/step
MSE 17: 47.169776916503906
10/10 [==============================] - 0s 3ms/step
MSE 18: 48.686866760253906
10/10 [==============================] - 0s 3ms/step
MSE 19: 42.632850646972656
10/10 [==============================] - 0s 3ms/step
MSE 20: 44.6351432800293
10/10 [==============================] - 0s 3ms/step
MSE 21: 42.489234924316406
10/10 [==============================] - 0s 3ms/step
MSE 22: 45.667877197265625
10/10 [==============================] - 0s 3ms/step
MSE 23: 46.10684585571289
10/10 [==============================] - 0s 3ms/step
MSE 24: 46.577980041503906
10/10 [==============================] - 0s 3ms/step
MSE 25: 50.59233093261719
10/10 [==============================] - 0s 3ms/step
MSE 26: 47.794288635253906
10/10 [==============================] - 0s 3ms/step
MSE 27: 47.629634857177734
10/10 [==============================] - 0s 2ms/step
MSE 28: 47.92109680175781
10/10 [==============================] - 0s 2ms/step
MSE 29: 48.821109771728516
10/10 [==============================] - 0s 3ms/step
MSE 30: 48.04669189453125
10/10 [==============================] - 0s 3ms/step
MSE 31: 54.5465087890625
10/10 [==============================] - 0s 3ms/step
MSE 32: 46.74705123901367
10/10 [==============================] - 0s 3ms/step
MSE 33: 47.950199127197266
10/10 [==============================] - 0s 4ms/step
MSE 34: 44.09710693359375
10/10 [==============================] - 0s 4ms/step
MSE 35: 43.4356689453125
10/10 [==============================] - 0s 4ms/step
MSE 36: 56.15409469604492
10/10 [==============================] - 0s 3ms/step
MSE 37: 52.690731048583984
10/10 [==============================] - 0s 3ms/step
MSE 38: 48.288848876953125
10/10 [==============================] - 0s 3ms/step
MSE 39: 48.01972579956055
10/10 [==============================] - 0s 2ms/step
MSE 40: 45.0275993347168
10/10 [==============================] - 0s 4ms/step
MSE 41: 52.99479293823242
10/10 [==============================] - 0s 4ms/step
MSE 42: 44.82015609741211
10/10 [==============================] - 0s 4ms/step
MSE 43: 44.884769439697266
10/10 [==============================] - 0s 4ms/step
MSE 44: 50.16436004638672
10/10 [==============================] - 0s 3ms/step
MSE 45: 55.509620666503906
10/10 [==============================] - 0s 4ms/step
MSE 46: 48.50404357910156
10/10 [==============================] - 0s 3ms/step
MSE 47: 47.35198974609375
10/10 [==============================] - 0s 4ms/step
MSE 48: 61.941654205322266
10/10 [==============================] - 0s 3ms/step
MSE 49: 46.80959701538086
10/10 [==============================] - 0s 3ms/step
MSE 50: 50.84891128540039
10/10 [==============================] - 0s 4ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 58.89547033766485
Standard Deviation: 19.967194947315086

the mean of the mean squared errors compare to that from Step A is 58.90-59.50= -0.6