IMPORT PANDAS AND NUMPY LIBRARIES

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#how many data points are there
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Concrete compressive strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                           0
Blast Furnace Slag               0
Fly Ash                          0
Water                            0
Superplasticizer                 0
Coarse Aggregate                 0
Fine Aggregate                   0
Age                              0
Concrete compressive strength    0
dtype: int64

In [6]:
#split data into predictors and target
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Concrete compressive strength']]
target = concrete_data['Concrete compressive strength']

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Concrete compressive strength, dtype: float64

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [30]:
n_cols = predictors.shape[1]
n_cols

8

IMPORT KERAS

In [37]:
#lets import keras
import keras

In [38]:
from keras.models import Sequential
from keras.layers import Dense

In [43]:


# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network
Let's call the function now to create our model.

In [48]:
model = regression_model()

In [49]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 2s 4ms/step - loss: 6307.6836
Epoch 2/50
23/23 [==============================] - 0s 5ms/step - loss: 3433.8506
Epoch 3/50
23/23 [==============================] - 0s 4ms/step - loss: 2074.4148
Epoch 4/50
23/23 [==============================] - 0s 4ms/step - loss: 1384.2554
Epoch 5/50
23/23 [==============================] - 0s 4ms/step - loss: 985.4804
Epoch 6/50
23/23 [==============================] - 0s 5ms/step - loss: 727.4224
Epoch 7/50
23/23 [==============================] - 0s 4ms/step - loss: 581.9581
Epoch 8/50
23/23 [==============================] - 0s 4ms/step - loss: 504.5523
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 436.1534
Epoch 10/50
23/23 [==============================] - 0s 4ms/step - loss: 391.4423
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 351.8240
Epoch 12/50
23/23 [==============================] - 0s 5ms/step - loss: 314.8170
Epoch 13/50
23/23 [==============================] - 0s 5ms/step - loss: 286.6624
Epoch 14/50
23/23 [==============================] - 0s 4ms/step - loss: 262.5988
Epoch 15/50
23/23 [==============================] - 0s 3ms/step - loss: 245.0858
Epoch 16/50
23/23 [==============================] - 0s 4ms/step - loss: 228.1659
Epoch 17/50
23/23 [==============================] - 0s 4ms/step - loss: 212.4564
Epoch 18/50
23/23 [==============================] - 0s 4ms/step - loss: 204.1640
Epoch 19/50
23/23 [==============================] - 0s 3ms/step - loss: 192.7169
Epoch 20/50
23/23 [==============================] - 0s 3ms/step - loss: 184.5085
Epoch 21/50
23/23 [==============================] - 0s 3ms/step - loss: 177.0769
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 173.0222
Epoch 23/50
23/23 [==============================] - 0s 3ms/step - loss: 166.7453
Epoch 24/50
23/23 [==============================] - 0s 4ms/step - loss: 160.7158
Epoch 25/50
23/23 [==============================] - 0s 3ms/step - loss: 157.5588
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 152.2921
Epoch 27/50
23/23 [==============================] - 0s 3ms/step - loss: 147.3983
Epoch 28/50
23/23 [==============================] - 0s 4ms/step - loss: 143.7406
Epoch 29/50
23/23 [==============================] - 0s 3ms/step - loss: 140.5952
Epoch 30/50
23/23 [==============================] - 0s 3ms/step - loss: 138.4664
Epoch 31/50
23/23 [==============================] - 0s 3ms/step - loss: 137.4431
Epoch 32/50
23/23 [==============================] - 0s 3ms/step - loss: 133.9414
Epoch 33/50
23/23 [==============================] - 0s 3ms/step - loss: 131.0723
Epoch 34/50
23/23 [==============================] - 0s 3ms/step - loss: 129.3962
Epoch 35/50
23/23 [==============================] - 0s 3ms/step - loss: 129.6859
Epoch 36/50
23/23 [==============================] - 0s 3ms/step - loss: 126.4137
Epoch 37/50
23/23 [==============================] - 0s 3ms/step - loss: 124.6708
Epoch 38/50
23/23 [==============================] - 0s 3ms/step - loss: 122.6040
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 121.4215
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 120.6292
Epoch 41/50
23/23 [==============================] - 0s 3ms/step - loss: 119.1039
Epoch 42/50
23/23 [==============================] - 0s 4ms/step - loss: 119.1575
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 118.1154
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 116.5030
Epoch 45/50
23/23 [==============================] - 0s 4ms/step - loss: 116.1868
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 114.1688
Epoch 47/50
23/23 [==============================] - 0s 3ms/step - loss: 114.1642
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 112.2495
Epoch 49/50
23/23 [==============================] - 0s 3ms/step - loss: 111.4899
Epoch 50/50
23/23 [==============================] - 0s 4ms/step - loss: 111.4519

In [50]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 5ms/step - loss: 118.2054
10/10 [==============================] - 0s 2ms/step

118.20539093017578

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [51]:
from sklearn.metrics import mean_squared_error

In [52]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

118.20538543776037 0.0

In [53]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 95.61199951171875
10/10 [==============================] - 0s 4ms/step
MSE 2: 120.64679718017578
10/10 [==============================] - 0s 3ms/step
MSE 3: 106.93578338623047
10/10 [==============================] - 0s 2ms/step
MSE 4: 128.6146697998047
10/10 [==============================] - 0s 3ms/step
MSE 5: 114.5068130493164
10/10 [==============================] - 0s 3ms/step
MSE 6: 101.48768615722656
10/10 [==============================] - 0s 4ms/step
MSE 7: 113.15092468261719
10/10 [==============================] - 0s 3ms/step
MSE 8: 50.671268463134766
10/10 [==============================] - 0s 2ms/step
MSE 9: 55.40103530883789
10/10 [==============================] - 0s 3ms/step
MSE 10: 55.35392761230469
10/10 [==============================] - 0s 3ms/step
MSE 11: 50.2654914855957
10/10 [==============================] - 0s 2ms/step
MSE 12: 47.56955337524414
10/10 [==============================] - 0s 3ms/step
MSE 13: 61.47863006591797
10/10 [==============================] - 0s 3ms/step
MSE 14: 58.87358474731445
10/10 [==============================] - 0s 4ms/step
MSE 15: 49.83417892456055
10/10 [==============================] - 0s 2ms/step
MSE 16: 48.901695251464844
10/10 [==============================] - 0s 4ms/step
MSE 17: 47.95954513549805
10/10 [==============================] - 0s 3ms/step
MSE 18: 49.94139862060547
10/10 [==============================] - 0s 4ms/step
MSE 19: 45.59566879272461
10/10 [==============================] - 0s 3ms/step
MSE 20: 48.071231842041016
10/10 [==============================] - 0s 3ms/step
MSE 21: 45.20716857910156
10/10 [==============================] - 0s 3ms/step
MSE 22: 59.25859069824219
10/10 [==============================] - 0s 3ms/step
MSE 23: 44.864994049072266
10/10 [==============================] - 0s 3ms/step
MSE 24: 46.52449035644531
10/10 [==============================] - 0s 4ms/step
MSE 25: 49.89555358886719
10/10 [==============================] - 0s 4ms/step
MSE 26: 51.91252517700195
10/10 [==============================] - 0s 3ms/step
MSE 27: 49.785728454589844
10/10 [==============================] - 0s 3ms/step
MSE 28: 44.97944641113281
10/10 [==============================] - 0s 2ms/step
MSE 29: 55.07069778442383
10/10 [==============================] - 0s 2ms/step
MSE 30: 50.23762893676758
10/10 [==============================] - 0s 3ms/step
MSE 31: 52.80332565307617
10/10 [==============================] - 0s 3ms/step
MSE 32: 50.685890197753906
10/10 [==============================] - 0s 3ms/step
MSE 33: 48.71404266357422
10/10 [==============================] - 0s 3ms/step
MSE 34: 48.925994873046875
10/10 [==============================] - 0s 3ms/step
MSE 35: 48.45609664916992
10/10 [==============================] - 0s 3ms/step
MSE 36: 53.20549392700195
10/10 [==============================] - 0s 2ms/step
MSE 37: 52.330997467041016
10/10 [==============================] - 0s 3ms/step
MSE 38: 61.444976806640625
10/10 [==============================] - 0s 3ms/step
MSE 39: 47.795555114746094
10/10 [==============================] - 0s 2ms/step
MSE 40: 43.53384780883789
10/10 [==============================] - 0s 2ms/step
MSE 41: 54.12399673461914
10/10 [==============================] - 0s 2ms/step
MSE 42: 45.53736114501953
10/10 [==============================] - 0s 2ms/step
MSE 43: 46.7173957824707
10/10 [==============================] - 0s 4ms/step
MSE 44: 53.902740478515625
10/10 [==============================] - 0s 4ms/step
MSE 45: 62.754119873046875
10/10 [==============================] - 0s 2ms/step
MSE 46: 55.67056655883789
10/10 [==============================] - 0s 4ms/step
MSE 47: 49.296119689941406
10/10 [==============================] - 0s 3ms/step
MSE 48: 52.78474044799805
10/10 [==============================] - 0s 3ms/step
MSE 49: 47.8453369140625
10/10 [==============================] - 0s 4ms/step
MSE 50: 49.918006896972656
10/10 [==============================] - 0s 5ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 59.501105531338524
Standard Deviation: 21.80028429213655